<h1 mat-dialog-title>Add Product Form</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input matInput formControlName="productName" placeholder="Product Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Product Category</mat-label>
      <mat-select formControlName="category" placeholder="Category Name">
        <mat-option value="Watches">Watches</mat-option>
        <mat-option value="Mobile">Mobile</mat-option>
        <mat-option value="Laptop">Laptop</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput formControlName="date" [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <label for=""><h4>Product Condition</h4></label>
    <mat-radio-group formControlName="condition" class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let list of conditionList" [value]="list">
        {{list}}
      </mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" type="number" placeholder="Product Price">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea name="comment" formControlName="comment" id="comment" matInput cols="30" rows="5"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" (click)="addProduct()">{{buttonNmae}}</button>
</div>
